@use "variables" as var; // bring in namespaced module and rename as var
@use "mixins"; // bring in module

header {
  min-height: 100vh;
  background-color: var.$bgColor;
  // mixin for center items
  @include mixins.flexCenter(); //THIS IS HOW U USE MIXINS

  button {
    background-color: var.$btnBg;
    padding: 4vh;
    border: none;
    border-radius: 10px;
    // USE `&:hover` instead of `button:hover` , &just adds to the current selector
    &:hover {
      background-color: var.$btnHoverBg;
    }
  }
}
